src/main/java/Xml/aftale.dtd

<!ELEMENT aftaler (aftale*)>
        <!ELEMENT aftale (info*)>
        <!ELEMENT info (cpr,date,time,hospital,afdeling,adresse)>
        <!ELEMENT cpr (#PCDATA)>
        <!ELEMENT date (#PCDATA)>
        <!ELEMENT time (#PCDATA)>
        <!ELEMENT hospital (#PCDATA)>
        <!ELEMENT adresse (#PCDATA)>
        <!ELEMENT afdeling (#PCDATA)>